@import "tailwindcss";

@theme {
    --color-bg: var(--color-zinc-900);
    --color-raised: var(--color-zinc-800);
    --color-text-light: var(--color-white);
    --color-fg: var(--color-zinc-700);
    --color-accent: var(--color-blue-600)
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-light);
}